<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head></head>

	<body>
	
		<div layout:fragment="content" class="row">

			<div class="x_data col-md-10 col-md-offset-1">
				
				<h2 th:text="${user.name} + ' ' + #{label.user}"></h2>
			
				<div th:replace="templates/fragments/msg :: msg" ></div> 
			
				<div class="action-row">
					<div class="action-wrapper">
						<a th:href="@{/user/edit(id=${user.id})}" class="btn btn-action"><span class="fa fa-pencil fa-btn"></span></a>
						<a th:if="${user.typeDesc != 'SoyFrigo Admin'}" th:href="@{/user/editUserPass(id=${user.id})}" class="btn btn-action"><span class="fa fa-lock fa-btn"></span></a>
						<a data-toggle="modal" data-target="#confirm-delete" class="btn btn-action"><span class="fa fa-trash fa-btn"></span></a>
						<a id="delete" th:href="@{/user/delete(id=${user.id})}" style="display:none"></a> 
					</div>
				</div>
		
				<div class="row panel-row">
            		<div class="col-sm-8 col-xs-12 animated fadeInDown">
            			<div class="profile_view">
                    		<div class="view-header" th:text="${user.name} +' ' + #{label.details}"></div>
                    		<div class="view-body row">	
                    			<div class="col-md-8">
	                    			<div class="row">
	  							 		<div class="col-md-4 detail-label" th:text="#{label.name}">: </div>
	 							 		<div class="col-md-8" style="word-wrap:break-word;"><span th:text="${user.name}"></span>&nbsp; <span th:text="${user.surname}"></span></div>
	   							 	</div>
	   							 	<div class="row">
	  							 		<div class="col-md-4 detail-label" th:text="#{label.email}">: </div>
	  							 		<div class="col-md-8" th:text="${user.email}" style="word-wrap:break-word;"></div>
	   							 	</div>
   							 		<div class="row">
	  							 		<div class="col-md-4 detail-label" th:text="#{label.phone}">: </div>
	  							 		<div class="col-md-8" th:text="${user.phone}" style="word-wrap:break-word;"></div>
	   							 	</div>
	   							 	<div class="row">
	  							 		<div class="col-md-4 detail-label" th:text="#{label.profile}">: </div>
	  							 		<div class="col-md-8" th:text="${user.typeDesc}" style="word-wrap:break-word;"></div>
	   							 	</div>
	   							 	<div class="row">
	   							 	 	<div class="col-md-4 detail-label" th:text="#{label.state}"></div>
	   							 		<div class="col-md-8">
		   							 		<a th:href="@{/user/activate(id=${user.id},state=false)}"><span th:if="${user.active} == true" class="fa fa-toggle-on fa-btn"></span></a>
				    						<a th:href="@{/user/activate(id=${user.id},state=true)}"><span th:if="${user.active} == false" class="fa fa-toggle-off fa-btn"></span></a>  
				    					</div>
	   							 	</div>
	   							 </div>
	   							 <div class="col-md-4">
		   							<img th:if="${user.url!=null}" th:src="${user.url}" width="120" class="img-responsive" onclick="window.open(this.src)"></img>
	                                <img th:if="${user.url==null}" src="http://appfrigo.blob.core.windows.net/products/c08e3092-022f-49ea-b61f-f774ec1d1769.png" width="120" class="img-responsive" onclick="window.open(this.src)"></img>
		   						</div>
                    		</div>
                        </div>
                        
                        <div class="profile_view">
                       		<div class="view-header" th:text="#{label.user.access}"></div>
                       		<div class="view-body">	
                              	 <table class="table table-striped custab" th:if="${user.items != null and #arrays.length(user.items)!=0 }">
								    <thead>
								        <tr>
								            <th th:text="#{label.name}"></th>
								            <th class="text-center" th:text="#{label.actions}" th:if="${user.typeDesc != 'SoyFrigo Admin'}"></th>
								        </tr>
							    	</thead>
						            <tr th:each="e : ${user.items}">
						                <td th:text="${e.name}"></td>
						                <td class="text-center">
						                	<a class="btn btn-mini btn-xs btn-info" th:if="${user.typeDesc == 'Supervisor'}" th:href="@{/equipment/get(id=${e.id})}"><span class="fa fa-list-alt fa-btn"></span><span th:text="#{label.see}"></span></a>
				    						<a class="btn btn-mini btn-xs btn-success" th:if="${user.typeDesc == 'Supervisor'}" th:href="@{/equipment/edit(id=${e.id})}"><span class="fa fa-pencil fa-btn "></span><span th:text="#{label.edit}"></span></a>
				    					 	<a class="btn btn-mini btn-xs btn-info" th:if="${user.typeDesc == 'Operator'}" th:href="@{/operator/get(id=${e.id})}"><span class="fa fa-list-alt fa-btn"></span><span th:text="#{label.see}"></span></a>
				    						<a class="btn btn-mini btn-xs btn-success" th:if="${user.typeDesc == 'Operator'}" th:href="@{/operator/edit(id=${e.id})}"><span class="fa fa-pencil fa-btn "></span><span th:text="#{label.edit}"></span></a>
				    					
				    					</td>
						            </tr>
   		 						</table>
                              	 <div th:if="${user.items == null or #arrays.length(user.items)==0 }" th:text="#{label.user.no.equip}"></div>
                       		</div>
                        </div>
                   	</div>
                   	
                   	<div class="col-sm-4 col-xs-12">
                    	<div th:if="${user.data!=null}" class="view-data">
                    		<div class="view-block block-green" title="Equipments"><span th:text="${user.data.equipments}"></span><i class="fa fa-bicycle"></i></div>
                    	</div>
                    	<div th:if="${user.data==null}" class="view-data" th:text="#{label.info.user}"></div>
                    </div>
           		</div>
           		<div th:replace="templates/fragments/mdl :: mdl" ></div> 
           	</div>
		</div>
	</body>
</html>