<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head></head>

	<body>
	
		<div layout:fragment="content" class="row">
			
			<div class="x_data col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				
				<div th:replace="templates/fragments/msg :: msg" ></div> 
			
       			<div class="x_panel">
       				<div class="x_panel_content">
       		
		           		<div class="x_title">
		                	<h2 th:text="#{label.user.password}"></h2>
		                    <div class="clearfix"></div>
		                 </div>
		
						<div class="x_content">
					
		    				<form action="#" th:object="${seller}" th:action="@{/user/editUserPass}" method="post">
    							<input type="hidden" th:field="*{id}" th:value="*{id}"></input> 
 				
			                    <div class="row">
		                			<div class="form-group col-md-12">
										<label class="label-control" th:text="#{user.password}"></label>
			                        	<input type="password" th:field="*{password}" th:value="*{password}" th:placeholder="#{user.password}" class="form-control" />
				                    </div>
	                            </div>
			                	<div class="row">
	                				<div class="form-group col-md-12">
										<label class="label-control"  th:text="#{user.rep.password}"></label>
			                        	<input type="password" th:field="*{repPassword}" th:value="*{repPassword}" th:placeholder="#{user.rep.password}" class="form-control"/>
			                    	</div>
	                             </div>
			                	<div class="row">
	                				<div class="form-btn">
	                        			<input type="submit" th:value="#{label.save.password}" class="btn btn-custom"/>
	                    			</div>
            					</div>
		 					</form>
                  		</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>