<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head></head>

	<body>
	
			<div layout:fragment="content" class="row">
		
			<div class="x_data col-md-10 col-md-offset-1">
			
				<h2 th:text="${product.name + ' Product'}"></h2>
			
				<div th:replace="templates/fragments/msg :: msg" ></div> 
				<input type="hidden" id="list" th:id="${business}" th:value="${business}"></input>
				
				<div class="action-row">
					<div class="action-wrapper">
						<a th:href="@{/equipment/product/edit(product=${product.id},business=${business})}" class="btn btn-action"><span class="fa fa-pencil fa-btn"></span></a>
						<a data-toggle="modal" data-target="#confirm-delete" class="btn btn-action"><span class="fa fa-trash fa-btn"></span></a>
						<a id="delete" th:href="@{/equipment/product/delete(product=${product.id},business=${business})}" style="display:none"></a>
					</div>
				</div>
				
	        	<div class="row panel-row">
            		
            		<div class="col-sm-8 col-xs-12 animated fadeInDown">
                    	<div class="profile_view">
                    		<div class="view-header" th:text="${product.name + ' Details'}"></div>
                    		<div class="view-body row">	
                    			<div class="col-md-8">
	                    			<div class="row">
   							 			<div class="col-md-4 detail-label">Description: </div>
   							 			<div class="col-md-8" th:text="${product.description}"></div>
   							 		</div>
							 		<div class="row">
   							 			<div class="col-md-4 detail-label">Price: </div>
   							 			<div class="col-md-8" th:text="${product.price}"></div>
   							 		</div>
  							 		<div class="row">
   							 			<div class="col-md-4 detail-label"  th:text="#{label.product.sellable}"> </div>
   							 			<div class="col-md-8" th:text="${product.sellable}"></div>
   							 		</div>
   								
	 								 <div class="row">
	   							 		<div class="col-md-4 detail-label">Category: </div>
	   							 		<div class="col-md-8" th:if="${product.category!=null || product.category.id!=0}" th:text="${product.category.name}"></div>
	   							 		 		<div class="col-md-8" th:if="${product.category==null || product.category.id == 0}"> - </div>
	   							 	</div>
	   							 	 <div class="row">
	   							 	 	<div class="col-md-4 detail-label">State: </div>
	   							 		<div class="col-md-8">
		   							 		<a th:href="@{/equipment/product/activate(product=${product.id},business=${business},state=false)}"><span th:if="${product.active} == true" class="fa fa-toggle-on fa-btn"></span></a>
				    						<a th:href="@{/equipment/product/activate(product=${product.id},business=${business},state=true)}"><span th:if="${product.active} == false" class="fa fa-toggle-off fa-btn"></span></a>  
				    					</div>
	   							 	</div>
   							 	</div>
	   							 <div class="col-md-4">
		   							 <img th:if="${product.url!=null}" th:src="${product.url}" width="120" class="img-responsive" onclick="window.open(this.src)"></img>
	                                <img th:if="${product.url==null}" th:src="@{/images/SoyFrigo.png}" width="120" class="img-responsive" onclick="window.open(this.src)"></img>
		   						</div>
                    		</div>
                        </div>

                        
                        
                        <div class="profile_view" th:if="${product.composition != null and #arrays.length(product.composition)!=0 }">
                       		<div class="view-header" th:text="#{label.componets}"></div>
                       		<div class="view-body">	

                              	 <table class="table table-striped custab">
								    <thead>
								        <tr>
								            <th th:text="#{label.name}"></th>
								            <th th:text="#{label.product.amount}"></th>
								            <th th:text="#{label.product.quantity}"></th>
								            <th class="text-center" th:text="#{label.actions}"></th>
								        </tr>
							    	</thead>
						            <tr th:each="c : ${product.composition}">
						                <td>
						                	<img th:if="${c.category.url!=null}" th:src="${operator.url}" width="30" class="img-circle" onclick="window.open(this.src)"></img>
	                                		<img th:if="${c.category.url==null}" th:src="@{/images/SoyFrigo.png}" width="30" class="img-circle" onclick="window.open(this.src)"></img>
	                                		<span th:text="${c.category.name}"></span>
						                </td>
						                 <td th:text="${product.composition[0].amount}"></td>
						                 <td th:text="${product.composition[0].quantity}"></td>
						                 <td>
						                 	<table>
						                 		<tr th:each="pm : ${c.productMinis}">
						                 			<td>
						                 				<img th:if="${pm.photo!=null}" th:src="${pm.photo}" width="30" class="img-circle" onclick="window.open(this.src)"></img>
	                                					<img th:if="${pm.photo==null}" th:src="@{/images/SoyFrigo.png}" width="30" class="img-circle" onclick="window.open(this.src)"></img>
						                 				<span th:text="${pm.name}"></span>
						                 			</td>
						                 		</tr>
						                 	</table>
						                 </td>
						                <!-- <td class="text-center">
						                	<a class="btn btn-mini btn-xs btn-info" th:href="@{/equipment/get(id=${b.id})}"><span class="fa fa-list-alt fa-btn"></span><span th:text="#{label.see}"></span></a>
				    						<a class="btn btn-mini btn-xs btn-success" th:href="@{/equipment/edit(id=${b.id})}"><span class="fa fa-pencil fa-btn "></span><span th:text="#{label.edit}"></span></a>
				    					</td> -->
						            </tr>
   		 						</table>
                       		</div>
                        </div>
                    </div> 
                    <div class="col-sm-4 col-xs-12">
                    	<div th:if="${product.data!=null}" class="view-data">
                    		<div class="view-block block-blue" title="Pieces" ><span th:text="${#numbers.formatDecimal(product.data.sales, 1, 'COMMA', 0, 'POINT')}"></span><span class="fa fa-eur-text" th:text="${#authentication.principal.currency}"></span></div>
                    		<div class="view-block block-pink" title="Total"><span th:text="${product.data.amount}"></span><img th:src="@{/images/magnumBlue.png}" class="fa" width="20"></img></div>
                    	</div>
                    	<div th:if="${product.data==null}" class="view-data" th:text="#{label.info.product}">
                    		
                    	</div>
                    </div>
                    
	             </div>
	             <div th:replace="templates/fragments/mdl :: mdl" ></div> 
	         </div>
		</div>
	
	

	</body>
</html>