<html  xmlns:th="http://www.thymeleaf.org" >
  <head>
  </head>
  <body>
    <div th:fragment="footer" id="footer">
    
    	<footer class="main-footer">
		    <div class="pull-right hidden-xs">
		      <b>Version</b> 1.0.1
		    </div>
    		<strong>Copyright &copy; 2016 SOCIAL MEDIA TECHNOLOGIES S.L.</strong> All rights reserved.
  		</footer>
    
    <!-- 	<a>Aviso Legal</a>
		<a>Politica de Privacidad</a>
		<a>Contacta con Nosotros</a>
		<span>© 2015 SOCIAL MEDIA TECHNOLOGIES S.L.</span>  -->
    </div>
  </body>
</html>