<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head>
		<link th:href="@{/css/switchery/switchery.min.css}" rel="stylesheet" type="text/css"/>   
		<script type="text/javascript" th:src="@{/js/switchery/switchery.min.js}"></script> 
	</head>

	<body>
	
		<div layout:fragment="content" class="row">
		
			<div class="col-md-8 col-md-offset-2" style="margin-top:6%">

				<div th:replace="templates/fragments/msg :: msg" ></div> 
		
       			<div class="x_panel">
       				<div class="col-md-10 col-md-offset-1">
       		
	           		<div class="x_title">
	                	<h2 th:text="#{label.edit.beacon}"></h2>
	                    <div class="clearfix"></div>
	                 </div>
		
					<div class="x_content">
					
		    			<form action="#" th:object="${beacon}" th:action="@{/beacon/edit}" method="post">
    						<input type="hidden" th:field="*{id}" th:value="*{id}"></input> 
 				
		                    <div class="row">
	                			<div class="form-group col-md-12">
									<label class="label-control" th:text="#{label.name}"></label>
			                        <input type="text" th:field="*{name}" th:value="*{name}" placeholder="#{label.name}" class="form-control" />
			                    </div>
                            </div>
                            
                              <div class="row">
	                			<div class="form-group col-md-12">
									<label class="label-control"  th:text="#{label.description}"></label>
			                        <input type="text" th:field="*{description}" th:value="*{description}" placeholder="#{label.description}" class="form-control" />
			                    </div>
                            </div>
                            
                              <div class="row">
	                			<div class="form-group col-md-12">
									<label class="label-control" th:text="#{label.beacon.major}"></label>
			                        <input type="text" th:field="*{major}" th:value="*{major}" placeholder="#{label.beacon.major}" class="form-control" />
			                    </div>
                            </div>
                            
                            <div class="row">
	                			<div class="form-group col-md-12">
									<label class="label-control" th:text="#{label.beacon.minor}"></label>
			                        <input type="text" th:field="*{minor}" th:value="*{minor}" placeholder="#{label.beacon.minor}" class="form-control" />
			                    </div>
                            </div>
                            
                             <div class="row">
	                			<div class="form-group col-md-12">
									<label class="label-control" th:text="#{label.beacon.uid}"></label>
			                        <input type="text" th:field="*{uid}" th:value="*{uid}" placeholder="#{label.beacon.uid}" class="form-control" />
			                    </div>
                            </div>
                               
                             <div class="row">
	                			<div class="form-group col-md-12">
									<label class="label-control" th:text="#{label.location}"></label>
			                        <input type="text" th:field="*{uid}" th:value="*{localizacion}" placeholder="#{label.location}" class="form-control" />
			                    </div>
                            </div>
			                	
			                <div class="row">
	                			<div class="form-group col-md-12">
	                        		<input type="submit" th:value="#{label.save.beacon}" class="btn btn-custom"/>
	                    		</div>
            				</div>
		 				</form>
                  	</div>
				</div>
			</div>
		</div>
	</div>

	</body>
</html>