<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head></head>

	<body>
	
		<div layout:fragment="content" class="row">
			
			<div class="x_data col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				
				<div th:replace="templates/fragments/msg :: msg" ></div> 
			
       			<div class="x_panel">
       				<div class="x_panel_content">
       		
		           		<div class="x_title">
		                	<h2 th:text="#{seller.edit.password}"></h2>
		                    <div class="clearfix"></div>
		                 </div>
		
						<div class="x_content">
					
		    				<form class="form-horizontal" action="#" th:object="${seller}" th:action="@{/user/editSellerPass}" method="post">
    							<input type="hidden" th:field="*{id}" th:value="*{id}"></input> 
 				
 								<div class="form-group">
    								<label class="col-sm-2 control-label" th:text="#{user.password}"></label>
    								<div class="col-sm-10">
			                        	<input type="password" th:field="*{password}" th:value="*{password}" th:placeholder="#{user.password}" class="form-control" />
									</div>
								</div>
								
								<div class="form-group">
    								<label class="col-sm-2 control-label" th:text="#{user.rep.password}"></label>
    								<div class="col-sm-10">
			                        	<input type="password" th:field="*{repPassword}" th:value="*{repPassword}" th:placeholder="#{user.password}" class="form-control" />
									</div>
								</div>

			                	<div class="row">
	                				<div class="form-btn">
                     					<button type="submit" class="btn btn-custom"> <span class="fa fa-save"></span><span th:text="#{label.save.password}"></span> </button>
	                    			</div>
            					</div>
		 					</form>
                  		</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>