<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head>
		<link th:href="@{/css/croppie.css}" rel="stylesheet" type="text/css"/>  
		<link th:href="@{/css/switchery/switchery.min.css}" rel="stylesheet" type="text/css"/>   
		<link th:href="@{/css/multiselect/bootstrap-multiselect.css}" rel="stylesheet" type="text/css"/>  
	</head>

	<body>
	
		<div layout:fragment="content" class="row">
		
			<div class="x_data col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		
				<div th:replace="templates/fragments/msg :: msg" ></div> 
		
       			<div class="x_panel">
       				<div class="x_panel_content">
       		
		           		<div class="x_title">
		                	<h2 th:text="#{label.load.seller}"></h2>
		                    <div class="clearfix"></div>
		                 </div>
		
						<div class="x_content">
						
							<form class="form-horizontal" action="#" th:object="${seller}" th:action="@{/seller/upload}" method="post" enctype="multipart/form-data" > <!--  -->
					         	
					         	<div class="row" th:each="r : ${result}" style="margin-bottom: 2%">
					         		<div th:class="${r.label == 'WARN'?'color-yellow': r.label == 'ERR' ? 'color-red' : 'color-green'}" class="col-sm-1 col-sm-offset-1" th:text="${r.label}"></div>
					         		<div class="col-sm-10" th:text="${r.data}"></div>
					         	</div>
					         	
					         	
					         	<div class="form-group control-text">
					         		These configurations will be the same for all the users added in the file
					         	</div>
					         	
					         	<div class="form-group">
    								<label class="col-sm-2 control-label" th:text="#{label.password}"></label>
    								<div class="col-sm-4">
										<input type="text" th:field="*{user.password}" th:value="*{user.password}" th:placeholder="#{label.password}" class="form-control" />		
									</div>
									<label class="col-sm-2 control-label">GPS Active</label>
									<div class="col-sm-2">
										<input type="checkbox" class="js-switch" th:field="*{gps}" th:value="*{gps}"></input>
				                  	</div>
								</div>
		                    	
		                    	<div class="form-group">
				                  	<label class="col-sm-2 control-label" th:text="#{label.equipment}"></label>
				                  	<div class="col-sm-6">
				                      	<select th:field="*{businessList}"  th:value="*{businessList}" class="form-control"> <!--  multiple="multiple" -->
				                      		<option value="0">No Equipment</option>
		  									<option th:each="e : ${equipmentList}" th:value="${e.id}" th:text="${e.name}"></option>
										</select>
				                    </div>
				                </div>
		                    	
		                    	<div class="form-group">
	                    		  	<div class="row" style="margin-top:8%">
	                    		 		<input type="file" id="file" th:field="*{file.file}" />  
	                    		  	</div>
		                    	</div>
						   		   	
                				<div class="row">
		                    		<div class="form-btn">
		                        		<button type="submit" class="btn btn-custom"> <span class="fa fa-save"></span><span th:text="#{label.save.file}"></span> </button>
		                    		</div>
	                    		</div>

			 				</form>
	                  	</div>
					</div>
				</div>
			</div>
			<script type="text/javascript" th:src="@{/js/switchery/switchery.min.js}"></script> 
			<script type="text/javascript" th:src="@{/js/multiselect/bootstrap-multiselect.js}"></script>
			<script type="text/javascript" th:src="@{/js/seller.upload.js}"></script>
		</div>
	</body>
</html>