<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/default">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/> 
	</head>

	<body>
	
		<div layout:fragment="content">

			<div class="wrapper">
				<div class="container">
					<h1 th:text="#{app.name}"></h1>
					<div class="action-wrapper">
						<div th:if="${errormsg} !=null" class="error-wrapper col-md-6 col-md-offset-3">
							<p th:text="${errormsg}"></p>
						</div>
		 			<input type="hidden" id="web-url" th:value="${url}"/>
					<form action="#" th:action="@{/login}" th:object="${loginBean}" method="post">  
						<input type="hidden" th:field="*{timezone}" th:value="*{timezone}" />
						<input type="hidden" th:field="*{language}" th:value="*{language}" />
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
						<input type="text" placeholder="Email" th:field="*{username}" required="required" 
							title="Email pattern does not match" pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
						<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email Error</span>
						<input type="password" placeholder="Password" th:field="*{password}" required="required" />
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
						<button type="submit" id="login-button" class="btn-login">Login</button>
					</form>
					</div>
					<p>IAW sales tracking app for mobiling business © UNILEVER</p>
					
				</div>
	
				<ul class="bg-bubbles">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<script type="text/javascript" th:src="@{/js/login.js}"></script>
		</div>
	</body>

</html>