<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/default">

	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/> 
	</head>

	<body>
	
		<div layout:fragment="content">

			<div class="wrapper">
				<div class="action-wrapper">
					<h1 th:text="#{app.name}"></h1>

					<div class="row">
						<div class="col-md-10 col-md-offset-1" style="font-family: Arial;text-align:left">

						<h2>Pol&iacute;tica de Privacidad</h2>

						<p>
							En cumplimiento con lo dispuesto en la normativa vigente en materia de protecci&oacute;n de datos,<strong>UNILEVER ESPA&Ntilde;A, S.A.</strong>  (en adelante, UNILEVER), le informa que los datos personales del Usuario, obtenidos o recabados a trav&eacute;s de la aplicaci&oacute;n m&oacute;vil I'm Walls (en adelante, la Aplicaci&oacute;n), ser&aacute;n tratados por UNILEVER de conformidad con lo dispuesto en la presente Pol&iacute;tica de Privacidad.
						</p>


						<ol> 
							<li>
						    	<h3>RECOGIDA Y USO DE DATOS </h3>
						        <ol>
					                <li>
					                    <span class="list-sub-title">Los datos recogidos por UNILEVER podr&aacute;n ser de dos tipos:</span>
					                    <ul>
					                        <li><strong>Datos proporcionados por el Usuario.</strong> Los datos personales como nombre, apellidos e email l ser&aacute;n proporcionados voluntariamente por los Usuarios, durante el proceso de registro y edici&oacute;n de perfiles, cuando contacten con UNILEVER.</li>
					                        <li><strong>Datos recopilados autom&aacute;ticamente. </strong> Algunos datos podr&aacute;n ser&aacute;n obtenidos de forma autom&aacute;tica durante el uso de la Aplicaci&oacute;n por los Usuarios. Entre la informaci&oacute;n recopilada autom&aacute;ticamente, se encuentran, la localizaci&oacute;n geogr&aacute;fica, siempre que el usuario active esta opci&oacute;n; n&uacute;mero de tel&eacute;fono m&oacute;vil y otros identificadores &uacute;nicos del dispositivo como marca y modelo, as&iacute; como los datos asociados a la cuenta de usuario como las promociones que adhiera o canjee.</li>
					                    </ul>
					                </li>
						            <li>
						            	<span class="list-sub-title">Dichos datos ser&aacute;n utilizados para el cumplimiento, entre otras, de las siguientes finalidades:</span>
						                <ul>
					                        <li>Gestionar el proceso de registro y creaci&oacute;n de perfiles de los Usuarios.</li>
					                        <li>Mostrar informaci&oacute;n relevante para los intereses y preferencias de los Usuarios, siempre que los usuarios tengan activados el servicio de notificaciones Push.</li>
					                        <li>Atender solicitudes de consulta, informaci&oacute;n, quejas y reclamaciones.</li>
					                        <li>Realizar estudios y estad&iacute;sticas sobre el uso de la Aplicaci&oacute;n.</li>
						                </ul>
						             </li>
						             <li>
						                  Adem&aacute;s, los datos de los Usuarios podr&aacute;n ser&aacute;n objeto de tratamiento para remitir por v&iacute;a electr&oacute;nica, comunicaciones comerciales relativas a productos y servicios que pueda resultar de su inter&eacute; s. Si el Usuario no desea recibir dichas comunicaciones, podr&aacute;  indicarlo mediante la remisi&oacute;n de un email a info.spain@unilever.com, con el asunto "Protecci&oacute;n de Datos" o haciendo clic en enlace de baja proporcionado en las comunicaciones comerciales enviadas por email.
						              </li>
						                <li>
						                    Siempre que se solicite, y el Usuario facilite, una direcci&oacute;n de correo electr&oacute;  nico, tel&eacute;fono m&oacute;vil u otro medio de comunicaci&oacute;n electr&oacute;nica, el Usuario expresamente acepta y autoriza que dichos medios sean utilizados preferentemente como canal de comunicaci&oacute;n, como canal para cumplir todas o alguna de las finalidades anteriormente informadas as&iacute; como canal a trav&eacute;s del cual poderle informar de cualesquiera otros cambios relevantes que se produzcan en la Aplicaci&oacute;n.
						                </li>
						                <li>
						                    Los Usuarios garantizan que sus datos personales aportados son verdaderos, exactos, completos y actualizados, ya que los Usuarios ser&aacute;n los &uacute;nicos responsables de cualquier da&ntilde;o o perjuicio, directo o indirecto, que pudiera ocasionarse como consecuencia del incumplimiento de tal obligaci&oacute;n. 
						                </li>
						                <li>
						                    Asimismo, a los efectos de garantizar el deber de calidad y la actualizaci&oacute;n de los datos, el Usuario deber&aacute;  comunicar a UNILEVER cualquier modificaci&oacute;n que pudiera tener lugar en los datos facilitados.
						                </li>
						            </ol>
						        </li>
						        <li>
						            <h3>EDAD M&Iacute;NIMA </h3>
						            <p>
						            Para poder registrarse y utilizar UNILEVER el Usuario debe ser mayor de 14 a&ntilde;os. UNILEVER podr&aacute;  utilizar su informaci&oacute;  n personal para verificar su edad y garantizar el cumplimiento de esta restricci&oacute;  n.
						            </p>
						        </li>
						        <li>
						            <h3>SEGURIDAD</h3>
						             <p>En respuesta a su preocupaci&oacute;n por garantizar la seguridad y confidencialidad de sus datos, UNILEVER ha adoptado los niveles de seguridad requeridos de protecci&oacute;n de los datos personales y ha instalado los medios t&eacute;cnicos a su alcance para evitar la p&eacute;rdida, mal uso, alteraci&oacute;n, acceso no autorizado y robo de los datos personales facilitados a trav&eacute;s de la Aplicaci&oacute;n.
						             </p>
						        </li>
						        <li>
						            <h3>CONTACTO</h3>
						             <p>
						            El Usuario tiene reconocidos los derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n (A.R.C.O). Si desea ejercitar estos derechos, le rogamos nos env&iacute;e carta adjuntando copia de su DNI a la siguiente direcci&oacute;  n: UNILEVER ESPA&Ntilde; A, S.A., C/ Tecnolog&iacute;a n&deg;  19 - 08840 Viladecans (Barcelona) o a la direcci&oacute;n de email info.spain@unilever.com, especificando en el asunto "Protecci&oacute;n de Datos" e indicando el derecho que desea ejercitar.
						            Para saber m&aacute;s como UNILEVER trata los datos personales, consulte la <a href="http://www.unileverprivacypolicy.com/spanish/policy.aspx">Pol&iacute;tica de Privacidad</a> del Grupo Unilever.
						                 </p>
						        </li>
						
						
						    </ol>
 


 </div>
</div>


					<p>IAW sales tracking app for mobiling business © UNILEVER</p>
					
				</div>
	
				<ul class="bg-bubbles">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<script type="text/javascript" th:src="@{/js/login.js}"></script>
		</div>
	</body>

</html>