<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head></head>

	<body>
	
		<div layout:fragment="content" class="row">
			
			<div class="x_data col-md-8 col-md-offset-2">
			
				<div th:replace="templates/fragments/msg :: msg" ></div> 
				 
				<div class="action-row">
					<div class="action-wrapper">
							<a th:href="@{/settings/profile}" title="Profile" class="btn btn-action "><span class="fa fa-user fa-btn"></span></a>
							<a th:href="@{/settings/changePassword}" title="Change Password" class="btn btn-action active"><span class="fa fa-lock fa-btn"></span></a>
							<a th:href="@{/settings/support}" title="Support" class="btn btn-action"><span class="fa fa-support fa-btn"></span></a>
						</div>

				</div>
					
				<div class="x_panel">
       				<div class="x_panel_content">
		
						<div class="x_content">
							<form class="form-horizontal" action="#" th:object="${user}" th:action="@{/settings/changePassword}" method="post">
					
								<div class="x_title">
				                	<h2 th:text="#{label.password.change}"></h2>
				                    <div class="clearfix"></div>
				                 </div>
		                 
				                <div class="form-group">
			 						<label class="col-sm-2 control-label"  th:text="#{user.password}"></label>
									<div class="col-sm-10">
										<input type="password" th:field="*{oldPassword}" th:placeholder="#{user.password}" class="form-control" />
									</div>
								</div>
									
								<div class="form-group">
									<label class="col-sm-2 control-label"  th:text="#{label.password.new}"></label>
									<div class="col-sm-10">
										<input type="password" th:field="*{password}" th:placeholder="#{user.password}" class="form-control" />
									</div>
								</div>
										
								<div class="form-group">
			 						<label class="col-sm-2 control-label"  th:text="#{user.rep.password}"></label>
									<div class="col-sm-10">
										<input type="password" th:field="*{repPassword}" th:placeholder="#{user.rep.password}" class="form-control" />
									</div>
								</div>
				                 
			 					<div class="row">
			                    	<div class="form-btn">
			             				<button type="submit" class="btn btn-custom"> <span class="fa fa-save"></span><span th:text="#{label.save.password}"></span> </button>
			                    	</div>
				                </div>
		 					</form>
		 				</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>