<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head>
		<link th:href="@{/css/croppie.css}" rel="stylesheet" type="text/css"/>  
		<link th:href="@{/css/switchery/switchery.min.css}" rel="stylesheet" type="text/css"/>   
		<link th:href="@{/css/multiselect/bootstrap-multiselect.css}" rel="stylesheet" type="text/css"/>  
	</head>

	<body>
	
		<div layout:fragment="content" class="row">
		
			<div class="x_data col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		
				<div th:replace="templates/fragments/msg :: msg" ></div> 
		
       			<div class="x_panel">
       				<div class="x_panel_content">
       		
		           		<div class="x_title">
		                	<h2 th:text="#{label.edit.voucher}"></h2>
		                    <div class="clearfix"></div>
		                 </div>
		
						<div class="x_content">
						
							<form action="#" th:object="${voucher}" th:action="@{/voucher/edit}" method="post" enctype="multipart/form-data" >
								<input type="hidden" th:field="*{id}" th:value="*{id}"></input> 
	                    		
                   		  		<div class="row">
		                			<div class="form-group col-md-12">
										<label class="label-control" th:text="#{label.name}"></label>
				                        <input type="text" th:field="*{shortName}" th:value="*{shortName}"  th:placeholder="#{label.short}" class="form-control" />
				                    </div>
				                </div>
	                    		
	                    		
	                    		<div class="row">
		                			<div class="form-group col-md-12">
										<label class="label-control" th:text="#{label.name}"></label>
				                        <input type="text" th:field="*{name}" th:value="*{name}" th:placeholder="#{label.name}" class="form-control" />
				                    </div>
				                </div>
				                
			                	<div class="row">
		                			<div class="form-group col-md-12">
										<label class="label-control" th:text="#{label.name}"></label>
				                        <textarea th:field="*{description}" th:value="*{description}" th:placeholder="#{label.name}" class="form-control" ></textarea>
				                    </div>
				                </div>
				                
				                				                <div class="row">
		                			<div class="form-group col-md-12">
										<label class="label-control" th:text="#{label.description}"></label>
				                        <textarea th:field="*{description2}" th:value="*{description2}" th:placeholder="#{label.description}" class="form-control" ></textarea>
				                    </div>
				                </div>
				                
				                <div class="row">
		                			<div class="form-group col-md-12">
										<label class="label-control" th:text="#{label.description}"></label>
				                        <textarea th:field="*{description3}" th:value="*{description3}" th:placeholder="#{label.message.dates}" class="form-control" ></textarea>
				                    </div>
				                </div>
				                
				                <div class="row">
			                            <div class="form-group col-md-6">
			                                <input type="text" class="form-control has-feedback-left" id="startDate" th:field="*{startDate}" th:value="*{startDate}" placeholder="Start Date" 
			                                 	required="required" aria-describedby="inputSuccess2Status"/>
			                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
			                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
				                        </div>
			                            <div class="form-group col-md-6">
			                                <input type="text" class="form-control has-feedback-left" id="endDate" th:field="*{endDate}" th:value="*{endDate}" placeholder="Start Date" 
			                                 	required="required" aria-describedby="inputSuccess2Status"/>
			                                <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
			                                <span id="inputSuccess2Status" class="sr-only">(success)</span>
				                        </div>
                        		</div>
                        		
                        		<div class="row">
		                			<div class="form-group col-md-12">
										<label class="label-control" th:text="#{label.code}"></label>
				                        <input type="text" th:field="*{code}"  th:value="*{code}" th:placeholder="#{label.code}" class="form-control" />
				                    </div>
				                </div>
				         
				              	<!-- Image -->
								<div class="row">
								   <div class="form-group col-md-6">
									   	<label class="label-control">Image :</label>
			                    		<div class="thumbnail" id="voucherImage">
			                               <div class="image view view-first">
			                                    <img style="display: block;" th:src="*{image.path}" alt="image" width="250"></img>
			                                    <div class="mask">
			                                        <p th:text="*{image.path}" ></p>
			                                    </div>
			                                </div>
                              		 	</div>
			                    		<div id="demo-basic"></div>
			                    	</div>
		                    	
			                    	 <div class="form-group col-md-6">
		                    		  	<div class="row" style="margin-top:8%">
		                    		 		<input type="file" id="file" th:field="*{image.file}" onchange="uploadImage()" class="inputfile"/>
		                    				<label for="file" class="btn btn-small">Change Image</label>
		                    				<button type="submit" name="addFile" id="addFile" style="display:none"></button> 
		                    		  	</div>
		                    			<div class="row" style="margin-top:3%">
			                    			<button type="submit" name="fileDone" id="fileDone" class="btn btn-custom btn-small" onclick="updateFileData()">Save File</button> 
			                    		</div>
			                    		
			                    		
			                    	</div>
						   		</div>
						   		
						   		<div class="row">
	                				<div class="form-group col-md-12">
										<label class="label-control">Retails</label>
			                      	   	<select id="retails" th:field="*{retails}" th:value="*{retails}"  multiple="multiple">
			                      	   	  <optgroup th:each="r : ${retailList}" th:label="${r.name}">   
			                      	   	  	<option th:each="l : ${r.locations}" th:value="${l.id}" th:text="${l.name}"></option> 
			                      	   	  </optgroup>
										</select>
			                    	</div>
	                             </div>
						   		
						   			<div class="row">
	                				<div class="form-group col-md-6">
										<label class="label-control" th:text="#{active}"></label>
										<input type="checkbox" class="js-switch" th:field="*{active}" th:value="*{active}"></input>
			                   	 	</div>
	                			</div> 
				              	
                				<div class="row">
		                    		<div class="form-btn">
		                        		<input type="submit" th:value="#{label.save.voucher}" class="btn btn-custom"/>
		                    		</div>
	                    		</div>
                    			<input type="hidden" th:value="${crop}" id="crop"></input>
							   	<input type="hidden" th:field="*{image.path}" th:value="*{image.path}" id="voucher.image.path"></input>
							   	<input type="hidden" th:field="*{image.zoom}" th:value="*{image.zoom}" id="voucher.image.zoom"></input>
							   	<input type="hidden" th:field="*{image.x}" th:value="*{image.x}" id="voucher.image.x"></input>
							   	<input type="hidden" th:field="*{image.y}" th:value="*{image.y}" id="voucher.image.y"></input>
							   	<input type="hidden" th:field="*{image.w}" th:value="*{image.w}" id="voucher.image.w"></input>
							   	<input type="hidden" th:field="*{image.h}" th:value="*{image.h}" id="voucher.image.h"></input>
			 				</form>
	                  	</div>
					</div>
				</div>
			</div>
			<script type="text/javascript" th:src="@{/js/croppie.js}"></script>
			<script type="text/javascript" th:src="@{/js/datepicker/moment.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/datepicker/daterangepicker.js}"></script>
			<script type="text/javascript" th:src="@{/js/switchery/switchery.min.js}"></script> 
			<script type="text/javascript" th:src="@{/js/multiselect/bootstrap-multiselect.js}"></script>
			<script type="text/javascript" th:src="@{/js/voucher.add.js}"></script>
			
		</div>
	</body>
</html>