<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	layout:decorator="templates/home">

	<head>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css"/>
	</head>

	<body>
	
		<div layout:fragment="content" class="row">
		
			<div class="col-md-10 col-md-offset-1 list-space">
		
				<h2>Promotions</h2>
			
				<div th:replace="templates/fragments/msg :: msg" ></div> 
					
				<div class="action-row">
					<div class="action-wrapper">
						<a th:href="@{/equipment/promotion/add(id=${businessId})}" title="Add" class="btn btn-action" th:alt="#{label.add.beacon}"><span class="fa fa-plus fa-btn"></span></a>
					 
					</div>
				</div>
			
				<input type="hidden" id="id" th:field="*{businessId}" th:value="*{businessId}"/> 
			
				<table id="table" class="table table-hover">
					<thead>
	            		<tr>
	                		<th>Promotion Name</th>
			                <th>Beacon Name</th>
			                <th>Fecha Inicio</th>
			                <th>Fecha Fin</th>
			                <th>State</th>
	            		</tr>
	        		</thead>
   			        <tbody>
			        	<tr th:each="p : ${promotionList}">
			        		<td th:text="${p.promotion.name}"></td>
				    		<td th:text="${p.beacon.name}"></td>
				    		<td th:text="${p.fechaIni}"></td>
				    		<td th:text="${p.fechaFin}"></td>
			    			<td>
	    						<a th:href="@{/equipment/promotion/activate(offer=${p.promotion.id},beacon=${p.beacon.id},state=false)}"><span th:if="${p.active} == true" class="fa fa-toggle-on fa-btn"></span></a>
			    				<a th:href="@{/equipment/promotion/activate(offer=${p.promotion.id},beacon=${p.beacon.id},state=true)}"><span th:if="${p.active} == false" class="fa fa-toggle-off fa-btn"></span></a>
			    			</td>
						</tr>
			        </tbody>
				</table>
			</div>
			<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
			<script src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
			<script type="text/javascript" th:src="@{/js/channel.js}"></script>
		</div>
	</body>
</html>