$mainColor: #EF2C30;
$secondColor: #EE474A;
$thirdColor: #FD6B6D;
$ligthColor: #FFE6ED;
$lightPlusColor: #FED3DE;


.btn-custom {
    background-color: $secondColor;
    border-color: $mainColor;
    color: #ffffff;
}

.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #ffffff;
  background-color:  $mainColor;
  border: 2px solid $secondColor;
} 

.btn-secondary { 
    background-color: #ffffff;
    border-color:  $secondColor;
    color:  $secondColor;
} 


.btn-secondary:hover, 
.btn-secondary:focus, 
.btn-secondary:active, 
.btn-secondary.active, 
.open .dropdown-toggle.btn-secondary { 
  color: #FFFFFF; 
  background-color: $secondColor;
  border-color:$secondColor;
} 

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
	background-color: $secondColor;
	border-color:$mainColor;
}

.pagination > li > a, .pagination > li > span {
    border: 1px solid $mainColor;
    color: $secondColor;
}


body.nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid  $mainColor;
}
 

.nav.side-menu> li.current-page,
.nav.side-menu> li.active {
    border-right: 5px solid $mainColor;
}

.daterangepicker.picker_1 table.table-condensed thead tr:first-child {
    background: $mainColor;
}

.left_data{
	border:  2px solid $mainColor;
}

.right_data{
	border: 2px solid $mainColor;
}

.table-hover tr:nth-child(even) { 
    background-color:$ligthColor;
}  

.table-hover > tbody > tr:hover > td {
    background-color: $lightPlusColor;
}

.table-sub tr:nth-child(even) { 
    background-color:$ligthColor;
} 


.table-sub > tbody > tr:hover > td {
    background-color: $lightPlusColor;
}

.right_data{
	border: 2px solid $mainColor;
}

.inputfile + label:not(.btn-action)  {
    background-color:$secondColor;
    border-color: $mainColor;
}

.inputfile:focus + label:not(.btn-action) ,
.inputfile + label:hover {
    background-color:$mainColor;
    color: white;
}

/****************breadcrumbs**********************/

.breadcrumb-arrow {
    background-color: #e6e9ed;
}

.breadcrumb-arrow li a {
    background-color:  $thirdColor;
    border: 1px solid  $thirdColor;
}

.breadcrumb-arrow li a:before {
    border-left-color:  $thirdColor;
}
.breadcrumb-arrow li a:after {
    border-left: 11px solid  $thirdColor;
}
.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: $mainColor;
    border: 1px solid $mainColor;
}
.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: $mainColor;
}
.breadcrumb-arrow li a:active {
    background-color:  $thirdColor;
    border: 1px solid  $thirdColor;
}
.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color:  $thirdColor;
}
.breadcrumb-arrow li span {
    color: #434a54;
}
